@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

/* +++++++++++++ BASIC ++++++++++++++++++ */

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #252525;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  line-height: 22px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  color: #000000;
}

h1 {
  font-size: 34px;
  font-weight: 700;
}

h2 {
  font-size: 32px;
  font-weight: 600;
}

h3 {
  font-size: 28px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 20px;
  font-weight: 500;
}

h6 {
  font-size: 15px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
}

a {
  color: #111;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

img {
  width: 100%;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

.section {
  padding: 55px 0 75px 0;
}

.button{
  background-color: slateblue !important;
  color: white !important;
  transition: 0.3sec ease;
}
.button:hover{
  background-color: rgb(78, 65, 161) !important;
}


.m-head{
color: rgb(63, 54, 122);
margin-bottom: 10px;
}

.feat {
  color: rgb(245, 211, 101);
  font-weight: 600;
  font-size: 1rem;
}
/* +++++++++++++ HOME ++++++++++++++++++ */
.navbar {
  background-color: #0c0c0c;
  color: #fff;
}

.nav-item a {
  color: #d8d8d8;
}
.dropdown .dropdown-menu {
  display: block;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 0;
  background: #0c0c0c;
  border: 0;
  box-shadow: 0px 0px 20px 0px #252424;
  width: 220px;
  margin-top: 0px;
  color: #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  transform: rotateX(0deg);
}

.carousel {
  height: 30rem;
}

/* +++++++++++++ Hero +++++++++++++  */

.hero {
  /* height: 100vh; */
  padding-top: 50px;
}

.hero::after {
  content: "";
  position: absolute;
  top: 0;
  width: 100%;
  height: 120vh;
  background-color: slateblue;
  z-index: -2;
}

.hero h1 {
  color: #ffffff;
  font-size: 45px;
}

.card-float {
  width: 100%;
  min-height: 50vh;
  background-color: #fff;
  box-shadow: 0px -1px 28px -9px #636262;
  border-radius: 50px;
}
.cd-float {
  
  background-color: #fff;
  box-shadow: 0px -1px 28px -9px #636262;
  border-radius: 20px;
  padding: 30px;
  min-height: 250px;
}

.body-content {
  min-height: 300px;
}

.hero-text {
  font-size: 18px;
  color: white;
  line-height: 30px;
  padding-top: 40px;
}

.h-image{
  width: 50%;
}

#gearg{
  position :absolute;
  top: 600px;
  width: 300px;
  transition: transform 0.5s ease;
  z-index: -1;

  }
  #gearw{
    position :absolute;
    top: 100px;
    right: 30px;
    width: 500px;
    z-index: -1;
    transition: transform 0.9s ease;
    }
    
.gear{
  opacity: 0.05;
}

.quick-feature{
  min-height: 50px;
  border-left: solid white;
  color: #fff;
}

.fi-card i {
  font-size: 5rem;
  color: slateblue;
}

.color-band{
  min-height: 30vh;
  background-color: rgb(241, 240, 245);
  margin-top: 150px;
}


.fixed-image1{
  background-image: url(/img/support-experience-hero-2880x1384.jpg.jpg);
  background-size:cover;
  object-fit: cover;
  background-attachment: fixed;
  background-position: 0 -120;
  height: 120px;
  background-repeat: no-repeat;
}
.fixed-image2{
  background-image: url(/img/support-experience-hero-2880x1384.jpg.jpg);
  background-size:cover;
  object-fit: cover;
  background-attachment: fixed;
  /* background-position: 0 -150; */
  height: 120px;
  background-repeat: no-repeat;
}

/*++++++++++ Footer ++++++++++++++++ */

.footer {
  min-height: 20vh;
  background-color: #252424;
}
.up-btn{
  position: fixed;
  width: 50px;
  height: 50px;
  background-color: slateblue;
  right: 50px;
  bottom:100px;
  opacity: 0;
  text-align: center;
  justify-content: center;
  font-size: 2rem;
  transition: 0.4s ease;
  border-radius: 10px;

}

.up-btn a {
  color: rgb(235, 185, 92);
  text-decoration: none;
}
.up-btn.down{
  opacity:1;
}